@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.button {
  height: 30px;
  width: 70px;
  background-color: yellow;
  color: black;
}
.button2 {
  height: 30px;
  width: 70px;
  background-color: red;
  color: black;
  text-align: center;
}
.button3 {
  height: 30px;
  width: 70px;
  background-color: blue;
  color: #ffffff;
}
.create {
  background-color: aqua;
  max-width: fit-content;
  margin: auto;
  padding: 20px;
}
.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
.form-content {
  border: 3px solid #ffff;
  padding: 80px;
  display: inline-block;
  width: 90%;
  text-align: left;
  border-radius: 10px;
}
.form-holder .form-content {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.btn-primary {
  background-color: #6c757d;
  outline: none;
  border: 0px;
  box-shadow: none;
  width: 100px;
  height: 40px;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: green;
  outline: none;
  border: none;
  box-shadow: none;
}
.form-content p {
  color: #ffffff;
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;
}
.form-content input[type="email"],
.form-content select {
  width: 90%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  background-color: #ffff;
  font-size: 10px;
  margin-top: 12px;
}
.invalid-feedback {
  color: #ff606e;
}
.valid-feedback {
  color: #2acc80;
}
.user-table table thead th {
  background-color: blue;
  color: white;
}
.heading {
  font-size: 140%;
  font-weight: 550;
  font-family: sans-serif;
  text-align: left;
  margin-bottom: 5px;
}
